[Desktop Entry]
Encoding=UTF-8
Name=Lien vers ⇒ Memo GIT en ligne de commande | LIJE Creative
Type=Link
URL=https://www.lije-creative.com/memo-git-en-ligne-commande/
Icon=text-html
Name[fr_FR]=Memo GIT
